{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/newmain.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/other.css' %}">
    <title>HOME
    </title>
  </head>
  <body>
        <div class="banner">
            <nav class="nav">

                <ul class="nav__list">
        
                  <li class="nav__listItem">
                    <a href="dashboard" class="nav__link">Home</a>
                  </li>
                  
                  <li class="nav__listItem nav__dropdown">
                    <a class="nav__link">Employee</a>
        
                    <ul class="nav__dropdownList">
        
                      <li class="nav__dropdownItem">
                        <a href="allemployee" class="nav__dropdownLink">All Employee</a>
                      </li>
                     
                      <li class="nav__dropdownItem">
                        <a href="addemployee" class="nav__dropdownLink">Add Employee</a>
                      </li>
                     
                      <li class="nav__dropdownItem">
                        <a href="removeemployee" class="nav__dropdownLink">Remove Employee</a>
                      </li>
                    
                      
        
                    </ul>
                  
                  </li>
                  
                  <li class="nav__listItem nav__dropdown">
                    <a href="" class="nav__link">Complain</a>
        
                    <ul class="nav__dropdownList">
                     
                      <li class="nav__dropdownItem">
                        <a href="addcomplain" class="nav__dropdownLink">Add Complain/ Suggestions</a>
                      </li>
                     
                      <li class="nav__dropdownItem">
                        <a href="allcomplain" class="nav__dropdownLink">View Complains</a>
                      </li>
        
                    </ul>
                  
                  </li>
        
                  <li class="nav__listItem nav__dropdown">
                    <a href="" class="nav__link">Salary</a>
        
                    <ul class="nav__dropdownList">
                     
                      <li class="nav__dropdownItem">
                        <a href="allsalary" class="nav__dropdownLink">salary Overview</a>
                      </li>
                     
                    </ul>
                  
                  </li>
        
        
                  <li class="nav__listItem nav__dropdown">
                    <a href="" class="nav__link">Leave</a>
        
                    <ul class="nav__dropdownList">
                     
                      <li class="nav__dropdownItem">
                        <a href="applyleave" class="nav__dropdownLink">Apply for leave</a>
                      </li>
        
                      <li class="nav__dropdownItem">
                        <a href="leaveapproval" class="nav__dropdownLink">Leave Approval</a>
                      </li>
                     
                      <li class="nav__dropdownItem">
                        <a href="allleave" class="nav__dropdownLink">leave history</a>
                      </li>
                     
                    </ul>
                  
                  </li>
        
                  <li class="nav__listItem">
                    <a class="nav__link" >Hello....{{user.first_name}}</a>
                  </li>
                  
                  
                  
                  <li class="nav__listItem">
                    <a href="logout" class="nav__link">Logout</a>
                  </li>
              
                </ul>
        
              </nav>
        <div class="transbox">

                <div class="">
                    <div class="heading">
                        <br><br>
                            <h1> Add Complain/ Suggestions</h1>
                        </div>
                        <br>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <form action="addcomplain" method="POST">
                
                            {% csrf_token %}
                            
                            <table>
                                <tr>
                                    <td>
                                        <label class="label">Date</label>
                                    </td>
                                    <th>
                                        <input class="input" type="date" name="date">
                                    </th>
                                  </tr>
                            </table>
                            <br><br><br>
                            
                                <table>
                                   <tr>
                                    <td>
                                        <label class="label">Type</label> 
                                        
                                    </td>
                                    
                                    <td>
                                        <input class="label_small" type="radio" id="complain" name="complain" value="complain">
                                        <label class="label" for="complain">Complain</label><br> 
                                    </td>
                                    <td>
                                        <input class="label_small" type="radio" id="suggestion" name="complain" value="suggestion">
                                        <label  class="label" for="sugesstion">Suggestion</label><br>
                                    </td>
                                    </tr>
                                </table>
                                <br><br><br><br>
                                <table>
                                  <tr>
                                    <th>
                                      <textarea rows = "10" cols = "100" name = "description" placeholder="Enter your Complain/Suggestion Here"></textarea>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                      <td></td>
                                      <th>
                                        <a><input type="submit" value="Send"></a>
                                      </th>
                                    </tr>
                              </table>
                
                                                

                        </form>>
                    </div>>
                </div>
            </div>
        </div>
  </body>
</html>
